
.TopNavigation_btn{
    transition: all .4s ease-in-out;
}
.TopNavigation_btn:hover{
    color: white;
    border-bottom: 4px solid white;
}
.TopNavigation_rotate {
    animation-name:rotate_animation;
    animation-duration: 15s;
    animation-delay:0s;
    animation-iteration-count: infinite;
  }
  
  @keyframes rotate_animation {
    0% {transform: rotate(360deg); }
    100% {transform: rotate(0deg);}
  }