
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body {
  max-width: 100vw;
  overflow-x: hidden;
}
.full_viewport_height{
  height: 100vh;
}
.feature_box_wrapper{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.feature_box_image_wrapper{
  overflow: hidden; 
  background-repeat: no-repeat;
}
.highlight{
  color: blue;
  font-weight: 800;
}
.app_title{
  font-weight: 800 !important;
}